[server_default]
nicks = "{{ nickname|default(username) }}"
ssl_priorities = "NORMAL"
username = "{{ username }}"

[server]
libera.addresses = "irc.libera.chat/6667"
libera.autoconnect = on
libera.autojoin = "#urlab"
libera.nicks = "{{ nickname|default(username) }},{{ nickname|default(username) }}_, {{ nickname|default(username) }}1"
libera.realname = "{{ username }}"
libera.ssl = on
libera.username = "{{ username }}"
